<h1>More About Me...</h1>
<br/>
<br/>
<h2>Now</h2>
<br/>
<p>You can find me out and about in Raleigh, NC. I love the outdoors and it's awesome to be able to hop in a car and be a couple hours from the beach, the mountains, and coupious amounts of trails. I love hiking and exploring all of the great things North Carolina has to offer. I'm currently wrapping up my apprenticeship as a Web Developer with The Firehose Project. I built multiple apps using Ruby, Rails, JavaScript and GitHub.</p>
<br/>
<br/>
<h2>Back In The Day</h2>
<br/>
<p>I was born in raised in Kansas (Rock Chalk Jayhawk!). My journeys have taken me to Ohio, where I met my lovely wife, and we settled on North Carolina as a place to call our family home.</p>
<br/>