<div class="about">
  <h1>More About Me...</h1>
  <br/>
  <br/>
  <h2>Now</h2>
  <br/>
  <p>You can find me out and about in Raleigh, NC. I love the outdoors and it's awesome to be able to hop in a car and in a couple hours be at the beach or the mountains. I love hiking and exploring all of trails and other great things North Carolina has to offer. I'm currently <strike>wrapping up my apprenticeship as a Software Developer with <a href="https://thefirehoseproject.com" target="_blank">The Firehose Project</a></strike> available for full-time and freelance projects. I've built multiple apps using Ruby, Rails, JavaScript and GitHub.</p>
  <br/>
  <br/>
  <h2>Back In The Day</h2>
  <br/>
  <p>I was born in raised in Kansas (Rock Chalk Jayhawk!). My journeys have taken me to Ohio, where I met my lovely wife, and we ended up settling in North Carolina as a place for our family to call home.</p>
</div>

<br class="clear">