<div class="box col-10 offset-1">
  <%= image_tag 'me.jpg', class: 'me image-fluid' %>
  <h1>Alan Unruh</h1>
  <div class="icons">
    <a href="mailto:alan.unruh@gmail.com"><i class="icon fa fa-envelope fa-2x" aria-hidden="true"></i></a>
    <a href="https://github.com/alanunruh"><i class="icon fa fa-github fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/alanunruh/m"><i class="icon fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    <a href="https://twitter.com/alanunruh13"><i class="icon fa fa-twitter fa-2x" aria-hidden="true"></i></a>
  </div>
</div>

<div class="box col-10 offset-1">
  <h3>I'm a Full Stack Software Engineer spending most of my days building apps, learning new stacks, creating tests, and debugging.</h3>
  <br/>
  <br/>
  <h3>Keep scrolling and see examples of my work.</h3>
</div>

<br class="clear">

<h4>Projects</h4>
<hr>

<div class="box col-10 offset-1">
  <h6>Role: Full Stack Software Engineer</h6>
  <p>A two sided video streaming marketplace platform, featuring credit card payment capabilities, user role management, complex user interfaces and advanced database relationships.</p>
  <span class="tag">Ruby on Rails</span>
  <span class="tag">JavaScript</span>
  <span class="tag">Amazon AWS</span>
  <span class="tag">Stripe API</span>
  <br/>
  <a href="https://flixter-alan-unruh.herokuapp.com/" class="view">View Site</a><a href="https://github.com/alanunruh/flixter" class="view">View Code</a>
</div>

<div class="box col-10 offset-1">
  <h6>Role: Full Stack Software Engineer</h6>
  <p>An Instagram clone built using RSpec and FactoryGirl for Test Driven Development in Ruby. Includes S3 AWS image uploading and user authentication.</p>
  <span class="tag">Ruby on Rails</span>
  <span class="tag">JavaScript</span>
  <span class="tag">Amazon AWS</span>
  <span class="tag">Stripe API</span>
  <a href="https://github.com/alanunruh/grammable">View Site</a><a href="https://grammable-alan-unruh.herokuapp.com/">View Code</a>
</div>

<div class="box col-10 offset-1">
  <h6>Role: Full Stack Software Engineer</h6>
  <p>A dynamic, database-driven web application that fetches data using RESTful JSON APIs from Rails and uses JavaScript to dynamically update the page.</p>
  <span class="tag">Ruby on Rails</span>
  <span class="tag">JavaScript</span>
  <span class="tag">Amazon AWS</span>
  <span class="tag">Stripe API</span>
  <a href="https://github.com/alanunruh/todo">View Site</a><a href="https://todo-alan-unruh.herokuapp.com/">View Code</a>
</div>

<div class="box col-10 offset-1">
  <h6>Role: Full Stack Software Engineer On A Remote Agile Team</h6>
  <p>A Ruby on Rails application built with advanced functionality resembling a Chess game.</p>
  <span class="tag">Ruby on Rails</span>
  <span class="tag">JavaScript</span>
  <span class="tag">Amazon AWS</span>
  <span class="tag">Stripe API</span>
  <a href="https://github.com/warandpiece/chessapp">View Site</a><a href="https://warandpiece.herokuapp.com/">View Code</a>
</div>

<br class="clear">

<h4>Open Source Contributions</h4>
<hr>

<div class="box col-10 offset-1">
  <h6>Role: Back End Software Engineer</h6>
  <p>PublicLab.org - a collaborative knowledge-exchange platform where you can learn how to investigate environmental concerns using inexpensive DIY techniques.</p>
  <a href="https://publiclab.org/">View Site</a><a href="https://github.com/publiclab/plots2/pull/1468">View My Contribution</a>
</div>

<br class="clear">

<h4>Familiar Tools</h4>
<hr>