<!DOCTYPE html>
<html>
  <head>
    <title>Alan Unruh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Alan Unruh</a>
        </div>
        <div class="nav navbar-nav navbar-right">
          <li>
            <a href="https://medium.com/@alanunruh13" class="menu">Blog</a>
            <a href="https://personal-site-alan-unruh.herokuapp.com/about" class="menu">About</a>
            <a href="mailto:alan.unruh@gmail.com" class="menu">Contact</a>
          </li>
        </div>
      </div>
    </nav>

    <%= yield %>

    <div class="footer">
      <h2>Contact</h2>
      <br/>
      <p>Currently entertaining new opportunites. Please reach out via email: <a href="mailto:alan.unruh@gmail.com">alan.unruh@gmail.com</a>.<p>
        <div class="footer-icons">
          <a href="mailto:alan.unruh@gmail.com"><i class="footer-icon fa fa-envelope fa-2x" aria-hidden="true"></i></a>
          <a href="https://github.com/alanunruh"><i class="footer-icon fa fa-github fa-2x" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/alanunruh/"><i class="footer-icon fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
          <a href="https://twitter.com/alanunruh13"><i class="footer-icon fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
  </body>
</html>


